body {
  background-image: url('bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 320px;
}

input[type="radio"] {
  display: none;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.tab {
  position: relative;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

#login:checked ~ .tabs label[for="login"]::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width:100%;
  height: 2px;
  background-color: black;
}

#register:checked ~ .tabs label[for="register"]::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width:100%;
  height: 2px;
  background-color: black;
}

form {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#login:checked ~ .form-container #login-form{
  display: block;
  opacity: 1;
}

#register:checked ~ .form-container #register-form {
  display: block;
  opacity: 1
}

#register-form {
  height: 280px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 93%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
}

button:hover {
  background-color: #333;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.options label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgot {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: black;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.forgot:hover {
  text-decoration: none;
  color: #333;
}
